.body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif;
}

.header {
    height: 10em;
    padding: 4em;
    font-size: 0.5em;
    height: 20em;
    background-image: url("../imgs/comida4.jpg");
    background-size: cover;
    background-position: center;
    color: black;
    -webkit-text-stroke: 0.3px whitesmoke;
}

.header h1 {
    margin: 0px;
    font-weight: 400;
    font-size: 8em;
}

.header p {
    margin: 0px;
    font-weight: 400;
    font-size: 4em;
    text-align: center;
}

.products {
    width: 80%;
    margin: auto;
}

.products td {
    width: 0%;
    padding: 2em;
    

}

.products img {
    width: 100%;
    border: solid 4px black;
}

.footer {
    height: 3em;
    line-height: 3em;
    background-color: rgb(164, 59, 14);
    color: white;
    text-align: center;
    font-weight: 900;
}

